* {
    box-sizing: border-box;
}

body, html {
    background-color: rgb(142, 163, 226);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(125, 125, 207); 
}

a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(52, 50, 50);
    transition: color .2s;
}

a:hover {
    color:rgb(171, 171, 172);
}

button {
    border: 0;
    padding: 2%;
    color: white;
    transition: background-color .2s;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(52, 50, 50);
}

button:hover {
    background-color: rgb(29, 29, 185);
}

textarea, input {
    padding: 1%;
    border-radius: 4px;
    border: 2px solid black;
}

textarea:focus, input:focus {
    outline: none;
    border: 2px solid rgb(52, 50, 50);
}

p {
    color: black;
}

textarea {
    min-width: 75%;
    min-height: 100%;
}

.all-post {
    margin: 0;
    padding: 0;
}

form > div {
    margin-bottom: 1%;
}

form label {
    display: block;
}

.wrap {
    min-height: 100%;
    min-width: 1150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    border-bottom: 2px solid black;
}

header h1 {
    font-size: 2rem; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-logout {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(52, 50, 50);
    transition: color .2s;
    margin-left: 15px;
    font-size: 100%;
    font-weight: bold;
}

.btn-logout:hover {
    color: rgb(52, 50, 50);
    background: none;
}

.delete-btn {
    background-color: rgb(229, 93, 93);
}

.delete-btn:hover {
    background-color: rgb(223, 145, 145);
}

.post {
    line-height: 145%;
    margin-bottom: 1.5%;
}

.post .title span {
    font-size: 85%;
    color: black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 100%;
    border: 1px solid black;
    border-radius: 25px;
    width: 400px;
    height: 150px;
}

.edit-post-link {
    display: block;
    margin: -1% 0 3% 0;
}

.comments {
    border: 2px solid black;
    width: 40%;
}

.comment {
    color: black;
    padding: 2%;
    margin-bottom: 2% ;
    border-bottom: 2px solid black;
}

.comment .meta {
    font-size: 85%;
    margin-bottom: 1%;
    opacity: 1;
}

.meta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 60%;
    width: 100%;
}

.comment-form {
    margin-bottom: 6%;
}

.edit-form {
    margin-bottom: 4%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 100%;
    border-top: 2px solid black;
    color: black;
}

